<ion-content [fullscreen]="true">

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Diabetes</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Enfermedad crónica con niveles altos de glucosa en sangre, causada por la falta de insulina o su uso ineficaz.
    </ion-card-content>
    <div align='end' class="ion-padding custom-buttons" style="border-top: 1px solid var(--ion-color-step-150, #d7d8da);">
      <ion-button color="secondary" fill="outline" shape="round">Ver en calendario</ion-button>
      <ion-button color="secondary" shape="round" (click)="goToMedicamentos()">Medicamentos</ion-button>
    </div>
  </ion-card>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Hipertensión </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Enfermedad crónica caracterizada por presión arterial alta, lo que aumenta el riesgo de problemas cardíacos y accidentes cerebrovasculares.
    </ion-card-content>
    <div align='end' class="ion-padding custom-buttons" style="border-top: 1px solid var(--ion-color-step-150, #d7d8da);">
      <ion-button color="secondary" fill="outline" shape="round">Ver en calendario</ion-button>
      <ion-button color="secondary" shape="round" (click)="goToMedicamentos()">Medicamentos</ion-button>
    </div>
  </ion-card>
</ion-content>
