<ion-content [fullscreen]="true">

  <div class="image-row">
    <img src="../../assets/search_img.png" alt="Imagen search" class="image-large"/>
  </div>

  <div class="text-row">
      Hora de tomar tu medicamento
  </div>

  <div class="title-row">
    INSULINA
  </div>


  <div class="custom-buttons">
    <ion-button expand="block" shape="round" color="primary">Confirmar toma de medicamento</ion-button>
    <ion-button expand="block" shape="round" color="secondary"  >Posponer</ion-button>
  </div>



</ion-content>
