ion-content {
  --ion-background-color: #fff !important;
}

ion-toggle {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  --handle-background: var(--ion-color-primary);
  --handle-background-checked: var(--ion-color-bg);
}

ion-button {
  bottom: 20px;
  position: absolute;
  width: 75%;
  margin: auto;
  left: 0;
  right: 0;
}
