<div class="background">
  <div class="container">
    <mat-tab-group (selectedIndexChange)="onTabChanged($event)" (animationDone)="onAnimationDone()" fitInkBarToContent>
      @for (tab of asyncTabs | async; track tab) {
        <mat-tab >
          <ng-template mat-tab-label>{{tab.label}}</ng-template>

            <div *ngIf="selectedTabIndex === 1 && isAnimationDone" class="container-table">

              <mat-table [dataSource]="medications" class="mat-elevation-z8">
                <!-- Medicamento Column -->
                <ng-container matColumnDef="medicamento">
                  <mat-header-cell *matHeaderCellDef> Medicamento </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.medicamento}} </mat-cell>
                </ng-container>

                <!-- Días Column -->
                <ng-container matColumnDef="dias">
                  <mat-header-cell *matHeaderCellDef> Días </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.dias}} </mat-cell>
                </ng-container>

                <!-- Cantidad de Tomas Column -->
                <ng-container matColumnDef="cantidadTomas">
                  <mat-header-cell *matHeaderCellDef> Cantidad de Tomas </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.cantidadTomas}} </mat-cell>
                </ng-container>

                <!-- Horas Column -->
                <ng-container matColumnDef="horas">
                  <mat-header-cell *matHeaderCellDef> Horas </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.horas}} </mat-cell>
                </ng-container>

                <!-- Acciones Column -->
                <ng-container matColumnDef="acciones">
                  <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <button mat-flat-button>Editar
                      <mat-icon>add_circle</mat-icon>
                    </button>
                    <button mat-flat-button>Eliminar
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>

          </div>

          <div *ngIf="selectedTabIndex === 0 && isAnimationDone" class="row">
            <mat-card class="example-card" appearance="outlined">
              <mat-card-header>
                <mat-card-title>Diabetes</mat-card-title>
                <mat-card-subtitle>Enfermedad crónica con niveles altos de glucosa en sangre, causada por la falta de insulina o su uso ineficaz.</mat-card-subtitle>
              </mat-card-header>
              <hr style="width: 100%;" >
              <mat-card-content>
                <mat-list role="list">
                  <mat-list-item role="listitem">
                    <span matListItemTitle>Insulina</span>
                    <span matListItemLine>7:00 am</span>
                    <span matListItemLine>Todos los dias</span>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item role="listitem">
                    <span matListItemTitle>Metformina</span>
                    <span matListItemLine>8:00 pm</span>
                    <span matListItemLine>Lun, Mier, Vier</span>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
              <mat-card-actions>
                <button mat-stroked-button>Eliminar</button>
                <button mat-flat-button (click)="goRecordatorioOrden()">Modificar</button>
              </mat-card-actions>
            </mat-card>

            <mat-card class="example-card" appearance="outlined">
              <mat-card-header>
                <mat-card-title>Hipertensión</mat-card-title>
                <mat-card-subtitle>Enfermedad causada por la presencia de niveles altos de presión arterial.</mat-card-subtitle>
              </mat-card-header>
              <hr style="width: 100%;" >
              <mat-card-content>
                <mat-list role="list">
                  <mat-list-item role="listitem">
                    <span matListItemTitle>Clortalidona</span>
                    <span matListItemLine>7:00 am</span>
                    <span matListItemLine>Todos los dias</span>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item role="listitem">
                    <span matListItemTitle>Espironolactona</span>
                    <span matListItemLine>5:00 pm</span>
                    <span matListItemLine>Todos los dias</span>
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
              <mat-card-actions>
                <button mat-stroked-button>Eliminar</button>
                <button mat-flat-button (click)="goRecordatorioOrden()">Modificar</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </mat-tab>
      }
    </mat-tab-group>
    <button mat-fab extended [matMenuTriggerFor]="menu" class="fab-button">
      <mat-icon>add</mat-icon>
      Programar alarmas
    </button>

    <mat-menu #menu="matMenu" xPosition="after">
      <button mat-menu-item (click)="goAutomaticamente()">
        <mat-icon>attach_file</mat-icon>
        <span>Automaticamente</span>
        <p class="matMenuText">A partir de una imagen</p>
      </button>
      <button mat-menu-item (click)="goRecordatorioOrden()">
        <mat-icon>folder</mat-icon>
        <span>Por orden medica</span>
        <p class="matMenuText">Para agrupar medicamentos</p>
      </button>
      <button mat-menu-item (click)="goRecordatorioMedicamento()">
        <mat-icon>schedule</mat-icon>
        <span>Por medicamento</span>
        <p class="matMenuText">Para recordatorios individuales</p>
      </button>
    </mat-menu>
  </div>
</div>
