
$verde0-color:   #FFFFFF;
$verde20-color:  #EEF7FF;
$verde40-color:  #CDE8E5;
$verde60-color:  #B1C1C1;
$verde80-color:  #7AB2B2;
$verde100-color: #4D869C;

.background {
  background-color: $verde40-color;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  box-sizing: border-box;
}



.mat-elevation-z8 {
  width: 100%;
  margin: 20px 0;
  background-color: $verde20-color;
  border-radius: 12px;
  overflow: hidden;
}

.container-table {
  padding: 20px;
  border-spacing: 0;
}

.header-row {
  padding: 10px;
  text-align: center;
  color: $verde0-color;
  background-color: $verde80-color;
  overflow: hidden;
}

button {
  margin-left: 5px;
  margin-right: 5px;
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: #EEF7FF;
}


.example-card{
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 30%;
  height: 70vh;
  mat-card-actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; /* Opcional, para alinear los botones */
    margin-top: auto; /* Esto asegura que las acciones se peguen al fondo */
  }
  mat-card-subtitle{
    font-weight: 300;
    font-size: 15px;
  }

  card-content {
    flex-grow: 1; /* Esto asegura que el contenido ocupe todo el espacio disponible */
  }
}
.fab-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: $verde0-color;
}

.mat-mdc-menu-panel {
  min-width: 280px !important;
}

.matMenuText {
  margin: 0;
  font-weight: 100;
}

.mat-mdc-menu-item {
  margin: 10px;
}
