<ion-content [fullscreen]="true">

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Insulina</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Medicamento para controlar el azucar en la sangre
    </ion-card-content>
    <div align='end' class="ion-padding custom-buttons">
      <ion-button color="secondary" fill="outline" shape="round">Ver en calendario</ion-button>
    </div>
  </ion-card>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Metformina</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Medicamento para regular los niveles de oxigeno en la sangre
    </ion-card-content>
    <div align='end' class="ion-padding custom-buttons">
      <ion-button color="secondary" fill="outline" shape="round">Ver en calendario</ion-button>
    </div>
  </ion-card>

</ion-content>
