$verde0-color:   #FFFFFF;
$verde20-color:  #EEF7FF;
$verde40-color:  #CDE8E5;
$verde60-color:  #B1C1C1;
$verde80-color:  #7AB2B2;
$verde100-color: #4D869C;

.custom-background {
  display: flex;
  background-color: $verde20-color;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.center-button {
  justify-content: center;
  align-items: center;
}
