ion-content {
  --ion-background-color: #fff !important;
}

.title {
  h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--ion-color-primary);
    margin-top: 0;
  }
}

.custom-buttons{
  bottom: 4vh;
  position: absolute;
  width: 75%;
  margin: auto;
  left: 0;
  right: 0;
  ion-button{
    margin-bottom: 20px;
  }
}

