<div class="background">
  <div class="container">
    <h2>Crear nuevo recordatorio de medicamento</h2>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre del medicamento</mat-label>
      <input matInput>
      <mat-hint>Nombre del medicamento</mat-hint>
    </mat-form-field>

    <div class="columns">

      <div class="column">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Días</mat-label>
          <input matInput>
          <mat-hint>Dias de la semana en los que se realiza la toma</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width custom-height">
          <mat-label>Descripción</mat-label>
          <textarea matInput></textarea>
          <mat-hint>Descripción del medicamento (Opcional)</mat-hint>
        </mat-form-field>
      </div>

      <div class="column">
        <div class="two-columns">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Hora de inicio</mat-label>
            <input matInput>
            <mat-hint>Hora de la primera toma</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Número de tomas</mat-label>
            <input matInput>
            <mat-hint>Numero de tomas al día</mat-hint>
          </mat-form-field>
        </div>

        <div class="file-upload">
          <div class="label-wrapper">
            <mat-label>Cargar foto</mat-label>
          </div>
          <div class="upload-box">
            <mat-icon>cloud_upload</mat-icon>
            <p>Arrastrar y soltar</p>
          </div>
        </div>

      </div>
    </div>

    <div class="buttons">
      <button mat-button (click)="goBack()">Cancelar</button>
      <button mat-raised-button class="guardar">Guardar</button>
    </div>
  </div>
</div>
