<div class="background">
  <div class="container">
    <h1>¡Simplifica tu rutina!</h1>
    <h3>Sube una imagen de tu orden médica y deja que nuestra inteligencia artificial se encargue de todo. Automáticamente detectaremos los horarios y los medicamentos para crear las alarmas, asegurando que nunca olvides tomarlos a tiempo.</h3>
    <div class="file-upload">
      <div class="label-wrapper">
        <mat-label>Cargar foto</mat-label>
      </div>
      <div class="upload-box">
        <mat-icon>cloud_upload</mat-icon>
        <p>Arrastrar y soltar</p>
      </div>
    </div>
    <p>
    <button mat-fab mat-flat-button class="cargarBtn">
      <mat-icon>add-circle</mat-icon> Subir orden medica</button>
    </p>
  </div>
</div>
