<div class="background">
  <div class="container">
    <h1>Modificar orden medica</h1>
    <div class="form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput>
        <mat-hint>Nombre de la orden medica</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Descripción</mat-label>
        <textarea matInput placeholder="Ej. Enfermedad causada por la falta de insulina..."></textarea>
        <mat-hint>Descripción de la orden medica (Opcional)</mat-hint>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="medicamentos-title">
      <h1>Medicamentos</h1>
      <button mat-flat-button class="guardar" (click)="goRecordatorioMedicamento()">Agregar medicamento</button>
    </div>
    <mat-table [dataSource]="medications" class="mat-elevation-z8">
      <!-- Medicamento Column -->
      <ng-container matColumnDef="medicamento">
        <mat-header-cell *matHeaderCellDef> Medicamento </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.medicamento}} </mat-cell>
      </ng-container>

      <!-- Días Column -->
      <ng-container matColumnDef="dias">
        <mat-header-cell *matHeaderCellDef> Días </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.dias}} </mat-cell>
      </ng-container>

      <!-- Cantidad de Tomas Column -->
      <ng-container matColumnDef="cantidadTomas">
        <mat-header-cell *matHeaderCellDef> Cantidad de Tomas </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.cantidadTomas}} </mat-cell>
      </ng-container>

      <!-- Horas Column -->
      <ng-container matColumnDef="horas">
        <mat-header-cell *matHeaderCellDef> Horas </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.horas}} </mat-cell>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-flat-button (click)="goRecordatorioMedicamento()">Editar
            <mat-icon>add_circle</mat-icon>
          </button>
          <button mat-flat-button>Eliminar
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div class="buttons">
      <button mat-stroked-button (click)="goBack()">Cancelar</button>
      <button mat-flat-button class="guardar" (click)="openDialog()">Guardar</button>
    </div>
  </div>
</div>
